*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* 颜色 淡绿 #dff0d8  深绿 #3c763d 淡红 #f2dede 深红 #a94442   按钮#e2454e */
body{
	width: 100%;
	height: 100%;
	background: url(../img/login_background.jpg)#fedc71 no-repeat;
	/* background-size: cover; */
}

input{
	outline: none;
}
/* jquery 样式 */
.iconred{
	background: #f2dede !important;
	border: 1px solid #a94442 !important;
	color: #a94442 !important;
}

.icongreen{
	background: #dff0d8 !important;
	border: 1px solid #3c763d !important;
	color: #3c763d !important;
}

.inputred{
	border: 1px solid #a94442 !important;
	border-left: none !important; 
}

.inputgreen{
	border: 1px solid #3c763d !important;
	border-left: none !important;
}

.testred{
	border: 1px solid #a94442 !important;
	border-right: none !important; 
}

.testgreen{
	border: 1px solid #3c763d !important;
	border-right: none !important;
}

.min{
	width: 465px;
	height: 440px; /* 440-60 */ 
	background: white;
	position: absolute;
	top: 300px;
	left: 60%;
	box-shadow: 0px 0px 10px rgba(69,69,69,0.8);
	border-top: 2px solid #b13e3e;
}

.bodys{
	width: 405px;
	height: 410px;/* 410-60-20 */
	margin: 20px auto;
}

.bodys span{
	color: #a94442;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
	height: 20px;
	line-height: 20px;
}

/* 用户登录 */
.bodys .users{
	height: 25px;
	width: 100%;
	margin: 10px auto;
	border-left: 5px solid #e8868b;
}

.bodys div p{
	font-size: 20px;
	line-height: 25px;
	margin-left: 15px;
}


/* 用户名 密码*/
.peop{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
}
.peop input{
	width: 360px;
	height: 100%;
	border: 1px solid #3c763d;
	border-left: 0;
	border-radius: 0 10px 10px 0;
	font-size: 20px;
	padding: 0 20px;
}
.peop div{
	width: 45px;
	height: 100%;
	background: #dff0d8;
	border: 1px solid #3c763d;
	text-align: center;
	line-height: 50px;
	font-size: 22px; 
	color: #3c763d;
	border-radius: 10px 0 0 10px;
	
}


/* 验证码 */
.test{
	width: 100%;/* 405 */
	height: 50px;
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}

.test input{
	width: 155px;
	height: 100%;
	border: 1px solid #3c763d;
	border-right: 0;
	border-radius: 10px 0 0 10px;
	font-size: 20px;
	padding: 0 20px;
}

.test .code{
	background: #dff0d8;
	height: 100%;
	width: 115px;
	border: 1px solid #3c763d;
	border-radius: 0 10px 10px 0;
	text-align: center;
	line-height: 50px;
	color: white; 
	font-size: 18px;
}

.test .codechange{
	width: 135px;
	height: 100%;
	line-height: 50px;
	text-align: center;
	color: #5392cb;
	font-size: 16px;
}

/* 按钮 淡红 #f2dede 深红 #a94442   按钮#e2454e*/

.bodys #btn{
	width: 100%;
	height: 50px;
	background: #e2454e;
	border-radius: 10px; 
	border: none;
	color: white;
	font-size: 20px;
	letter-spacing: 10px;
	margin-top: 15px;
	
}

/* 底部 用户注册  忘记密码 */
.foot{
	color: #5392cb;
	font-size: 14px;
	display: inline-block;
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.foot a{
	color: #5392cb;
	font-size: 14px;
	display: inline-block;
	height: 20px;
	text-decoration: none;
}









